{
    "KHULNASOFT_GATEWAY": "{{ GATEWAY_ENDPOINT }}",
    "KHULNASOFT_TOKEN": "{{ TOKEN }}",
    "KHULNASOFT_TLS_VERIFY": "{{ KHULNASOFT_TLS_VERIFY }}",
    "KHULNASOFT_ROOT_CA": "{{ KHULNASOFT_ROOT_CA_PATH }}",
    "KHULNASOFT_PUBLIC_KEY": "{{ KHULNASOFT_PUBLIC_KEY_PATH }}",
    "KHULNASOFT_PRIVATE_KEY": "{{ KHULNASOFT_PRIVATE_KEY_PATH }}"
}