[Unit]
Description=Khulnasoft Security Enforcer RunC

[Service]
Type=forking
ExecStart={{ .Values.RuncPath }} run -d --pid-file /run/khulnasoft-enforcer.pid enforcer
ExecStopPost={{ .Values.RuncPath }} delete -f enforcer
WorkingDirectory={{ .Values.WorkingDirectory }}
PIDFile=/run/khulnasoft-enforcer.pid
Restart=always
StandardOutput=file:/opt/khulnasoft/tmp/khulnasoft.log
StandardError=file:/opt/khulnasoft/tmp/khulnasoft.log

[Install]
WantedBy=multi-user.target